/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* common css */
body{
    font-family: 'IBM Plex Sans', sans-serif;
}
body .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0 !important;
}
section{
    padding: 0;
}
.slider-area{
    position: relative;
    z-index: 1;
}
.slider-area:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    content: "";
    opacity: .7;
    z-index: -1;
}
.web-tech-course{
    background-color: #F4FAFD;
}
.join-area{
    padding: 80px 100px;
}
button.registration{
    display: none;
}
section.section-padding{
    margin-top: 120px;
}

.social-icon {
    display: block;
    padding-top: 10px;
}

.social-icon a {
    padding: 10px 15px;
    background: #444;
    color: #fff;
    transition: .3s;
    border-radius: 50%;
}

.social-icon a:hover {
    background: blue;
    color: #fff;
}
footer{
    padding: 120px 0;
    margin-top: 60px;
}

/* .bg-1{background-image: url(../images/cover/cover-4.jpg);}
.bg-1{background-image: url(../images/cover/cover-5.jpg);}
.bg-1{background-image: url(../images/cover/cover-2.jpg);} */

.slider-img{
    max-height: 700px;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    background-repeat: no-repeat;
}
.slider-area .carousel-caption{
    bottom: 14rem;
}






/* responsive css  */

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    
    
    button.register {
        display: none;
    }
    
    button.registration {
        display: block;
    }
    
    .company-logo{
        display: none;
        visibility: hidden;
    }
    
.slider-area .carousel-caption{
    bottom: 1.5rem;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .popular-image img{
        min-width: 100%;
        max-height: 220px;
    }
    .join-area{
        flex-direction: column;
    }
    button.register {
        display: none;
    }
    
    button.registration {
        display: block;
    }
    .company-logo{
        display: none;
        visibility: hidden;
    }
    
.slider-area .carousel-caption{
    bottom: 1.5rem;
}
body .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

    .popular-image img{
        min-width: 100%;
        max-height: 220px;
    }
}
